/*******

Header de l'article

********/
.header{
    width: 90%;


}

.header h1{
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    color: #d0cccc;
    text-align: center;
}

.header img{

    height: 500px;
    margin: 30px 50px 30px 50px;
}
