.body{
    border-radius: 20px;
    box-shadow:10px 5px 20px black;
    background: #F2F2F2;
    margin: 50px;
    height: auto;
}


/*****************

SECTION HEADER

*****************/
.header{
    display: flex;
    flex-direction: column;
}

.header img{
    object-fit: contain;
}

.header h1{
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: left;

}

.header div{
    display: flex;
    margin-left: 40px;
}

.header h4{

    margin: 0px 10px 0px 10px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;

}

.header img{
    width: auto;
    height: 500px;
    margin: 10px 50px 30px 50px;
    border-radius: 20px;

}

/******************

SECTION CONTENT

*******************/

.content{


}

.content h1{
    margin: 20px 0px 20px 50px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    text-align: left;

}


.content h4{

    margin: 0px 10px 0px 50px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;
}

.article-content{
    margin: 10px 50px 30px 50px;
}

/****************
VOIR PLUS
****************/

.modif-article a{
    margin-bottom: 20px;
}


.voir-plus h4{
    text-align: center;
}

.article-container{
    display: flex;
    justify-content: center;
}
.randomArticle {
    width: 20%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.randomArticle a{
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.randomArticle:hover{
    background: lightgray;
}

.randomArticle a img{

    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

/*******************

COMMENTAIRE

 ******************/

.commentaire-area{
    margin: 50px 50px 50px 50px;
}

.commentaire-area hr{
    margin-right: 20%;
}

.commentaire{
    margin: 20px;

}
.head-commentaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headCommentaire{
    display: flex;
}

.buttonCommentaire{
    display: flex;

}
.buttonCommentaire button{
    margin-right: 5px;
}
.head-commentaire h5{
    margin-right: 10px;

}

.content-commentaire{
    width: 70%;
    word-break: break-word;
}

.addCommentaire{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;

}
.addCommentaire textarea{
    margin-bottom: 20px;
}

.addCommentaire button{
    margin-bottom: 20px;
    margin-right: 30px;
    width: 100px;
}